<div class="container">
  <div class="row">
    <div class="col">
    <div class="comment-main-block">
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
            <div class="form-group">
                <%= form.text_area :body, rows: 3, class: "form-control comment-control", placeholder: "Write your comment here", autofocus: true%>
            </div>  
            <%= form.submit "Comment", class: 'btn btn-primary' %>
          <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
