<h2 align="center" class="page-title"><%= @user.username %>'s Articles</h2>

<%= render 'shared/article', obj: @user.articles %>  

<div class="container">
    <div class="row display-flex">
      <div class="col pagination-block">
            <%= will_paginate @user_articles%> 
      </div>
    </div>
</div>