
<div class="main-block">
    <div class="central-block">          
        <h1 class="page-title">Welcome To My Blog!</h1>
        <h4 class="index-info">Start sharing your thought now!</h4>
        <h4 class="index-info">Join the community of brilliant minds!</h4>
        <%= link_to "Sign up!", new_user_path, class: "btn btn-xs btn-primary" %>
    </div>
</div> 