// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//form style
.article-main-block {
    width: 100vw;
    height: 700px;
    display:flex;
    justify-content: center;
    align-items: center;
}

form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-form .form-control {
    width: 70vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.label{
    font-family: 'Ubuntu', light italic;
    font-size: 20px;
    color: white;
}

.create-button {
    background-color: #f4511e;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

.create-button:hover {
    opacity: 0.9;
}

//article style
.card {
    margin: 0.5em;
    background-color: white;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article-link {
    color: #222222;
}

.article-link:hover {
    color: #222222;
    text-decoration: none;
}

.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.control-label {
    margin: 0.3em;
    font-weight: bold;
    font-size: 1em;
}

.article-meta-details {
    color: #222222;
    padding-left: 5px;
}

.listing {
    list-style: none;
    padding-left: 0;
}
