body{
    background-color: #ECECEC;
    margin: 0;
    padding: 0;
    background-image: url("blog-background.jpg");
    background-size: cover; 
}
.bg-custom {
    background-color: #222222;
}
.nav-link {
    text-decoration: none;
    color: white !important;
}
.nav-link:hover {
    color: #868686 !important;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    text-decoration: none;
}

.navbar-toggler-icon {
    color: white;
}

.page-title {
    align-self: center;
    color:white;
    font-family: 'Lora', Light;
    font-size: 40px;
    padding-top: 10px;
}

