body{
    background-color: #ECECEC;
    margin: 0;
    padding: 0;
    background-image: url("blog-background.jpg");
    background-size: cover; 
}

//nav-bar style
.bg-custom {
    background-color: #222222;
}
.nav-link {
    text-decoration: none;
    color: white !important;
}
.nav-link:hover {
    color: #868686 !important;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    text-decoration: none;
}

.navbar-toggler-icon {
    color: white;
}

//styles of titles
.page-title {
    align-self: center;
    color:white;
    font-family: 'Lora', Light;
    font-size: 40px;
    padding-top: 10px;
}

.info {
    align-self: center;
    color:white;
    font-family: 'Lora', Light;
    padding-top: 10px;
}
.index-info {
    align-self: center;
    color:white;
    font-family: 'Lora', Light;
    padding-bottom: 2px;
}

//pagination style
.pagination-block {
    display:flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    cursor: default;
    align-self: center;
}

.pagination a, .pagination span, .pagination em {
    background-color: white;
    padding: 0.2em 0.5em;
    display: block;
    margin-right: 1px; 
}

.pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; 
}

.pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; 
}

.pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; 
}

.pagination a:hover, .pagination a:focus 
{
    color: #000033;
    border-color: #000033;
}

.pagination .page_info
 {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; 
}
   
.pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em; 
}

.pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; 
}

* html .pagination {
    height: 1%;
 }

*:first-child + html .pagination {
    overflow: hidden;
 }

 //error style

.error-card {
    background-color:rgba(237, 67, 55, 0.8) !important;
}
.card-heading {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

.error-title {
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 4px;
}

.error-body li {
    font-size: 1em; 
} 
